@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <p>
            <strong>SEFriendlyMVC</strong> is a sample web application containing html samples according to collection of schemas provided by schema.org in order to markup our pages in ways recognized by major search providers. Search engines including Bing, Google and Yahoo! rely on this markup to improve the display of search results, making it easier for people to find the right web pages.
        </p>
    </div>
</section>
}